[access "refs/heads/*"]
	label-Code-Review = -2..+2 group user/Maksym Lobur (mlobur)
	forgeAuthor = group user/Maksym Lobur (mlobur)
	submit = group user/Maksym Lobur (mlobur)
	forgeCommitter = group user/Maksym Lobur (mlobur)
	push = +force group user/Maksym Lobur (mlobur)
	label-Verified = -1..+1 group user/Maksym Lobur (mlobur)
[access "refs/*"]
	create = group user/Maksym Lobur (mlobur)
	push = +force group user/Maksym Lobur (mlobur)
	pushTag = +force group user/Maksym Lobur (mlobur)
	pushMerge = group user/Maksym Lobur (mlobur)
[access "refs/tags/*"]
	push = +force group user/Maksym Lobur (mlobur)
